In [1]:
students = ['vinoth','ramya','ayesha','sara','david','naveen','ahmed']

In [2]:
print(students)

['vinoth', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed']

In [3]:
type(students)

list

In [4]:
print(students[1])  #index start from 0 to access ramya name output

ramya

In [5]:
print(students[1].title())  #to access ramya name output in right format

Ramya

In [6]:
print(students[3].title())  #to access sara name output in right format

Sara

In [7]:
print(students)

['vinoth', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed']

In [8]:
students.append('kunal')      #to add kunal to list

In [9]:
print(students)

['vinoth', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']

In [10]:
students.append('kalyani')      #to add kalyani to list

In [11]:
print(students)

['vinoth', 'ramya', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [12]:
students.insert(2,'firdous')         #adding firdous to second index

In [13]:
print(students)

['vinoth', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [14]:
print(students)

['vinoth', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [15]:
students[0] = 'vani'         #changing/replacing from vinoth to vani

In [16]:
print(students)

['vani', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal', 'kalyani']

In [17]:
x = students.pop()      #pop function temp delete element, by default it wil delete last element

In [18]:
print(students)

['vani', 'ramya', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']

In [19]:
print(x)          #retreiving pop value of X

kalyani

In [20]:
y = students.pop(1)       #req:to delete ramya fom list

In [21]:
print(y)

ramya

In [22]:
print(students)        #ramya is removed from list

['vani', 'firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']

In [23]:
del students[0]         #permanetly deleting vani

In [24]:
print(students)

['firdous', 'ayesha', 'sara', 'david', 'naveen', 'ahmed', 'kunal']